:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  color: #d3d3d3;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* hide slider ticks */
.rs-slider-graduator > ol > li:before,
.rs-slider-graduator > ol > li:last-child:after {
  display: none !important;
}
